{% extends "base.html" %}

{% block titulo %} Consultar Responsable {% endblock %}

{% block Contenido %}
<div class="row justify-content-center mt-5">
  <!-- Primera Card (activa) -->
  <div class="col-md-6">
    <div class="card text-center">
      <img src="https://cdn.lecturio.com/assets/Featured-image-Student-Blog-Hospital-Team.jpg" class="card-img-top" alt="Responsable Image">
      <div class="card-body">
        <h5 class="card-title">Consultar Responsable</h5>
        <p class="card-text">Haz clic en el botón para ver el listado de responsables.</p>
        <!-- Botón con estilo personalizado -->
        <a href="{% url 'patients' %}" class="btn btn-primary" style="background-color: #81D4FA; border: none; color: #0D47A1; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          Buscar
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
