{% extends "base.html" %}

{% block titulo %} .:. Index .:. {% endblock %}

{% block Contenido %} 

<br><hr><br>

<div class="card text-center">
    <div class="card-header">
        <h1>Responsables de los Equipos</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo electrónico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{patient.id}}</td>
                    <td>{{patient.documento}}</td>
                    <td>{{patient.nombre}}</td>
                    <td>{{patient.apellido}}</td>
                    <td>{{patient.correo}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="" style="display: flex; gap: 10px; justify-content: center;">
                            <a name="" id="" class="btn" href="{% url 'editar' patient.id %}" role="button" style="background-color: #90CAF9; border: none; color: #0D47A1; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                Editar
                            </a>
                            <a name="" id="" class="btn" href="{% url 'borrar' patient.id %}" role="button" style="background-color: #EF9A9A; border: none; color: #C62828; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                Borrar
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted text-center">
        <h3>BioSoft Technologies</h3>
        <!-- Botón Volver -->
        <a href="{% url 'consultar' %}" class="btn" role="button" style="background-color: #81C784; border: none; color: white; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-top: 10px;">
            Volver
        </a>
    </div>
</div>

{% endblock %}
